/Clase-20171011/PythonJava/nbproject/private/
/Clase-20171011/PythonJava/build/
/Clase-20171018/PythonJava-Socios/nbproject/private/
/Clase-20171018/PythonJava-Socios/build/
/Clase-20171025/java2/nbproject/private/
/Clase-20171025/alumnoPromedio/nbproject/private/
/Clase-20171025/alumnoPromedio/build/
/Clase-20171030/LejanoOeste/nbproject/private/
/Clase-20171030/PooPythonJava/nbproject/private/
/Clase-20171030/PooPythonJava/build/
/Clase-20171030/Ejercicio02/nbproject/private/
/Clase-20171030/Ejercicio02/build/
/Clase-20171030/Cuentas-ejr03/nbproject/private/